*{
    padding: 0%;
    margin: 0%;
   
}
body{
     font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    width: 98%;

}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}
.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;

    
}
.catagories{
    padding: 10px;
    display: flex;
    justify-content:space-around;
    border-bottom: solid black 1px;
    width: 98%;
}
.catagories p{
    background-color: #A435F0;
    padding: 10px;
    border-radius: 30px;
}
.sale image img{
    width:900px;
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.coursecard{
    width: 300px;
    padding-top: 10px;
}
.coursecard img{
    width: 100%;
    height: 50%;
}
.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
    
}

.topics__container p{
    border: solid grey 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container img{
    height: 50%;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

